{{ ansible_managed | comment }}

IPTABLES_MODULES="{{ iptables_config_modules }}"
IPTABLES_MODULES_UNLOAD="yes"
IPTABLES_SAVE_ON_STOP="{{ iptables_config_save_on_stop }}"
IPTABLES_SAVE_ON_RESTART="{{ iptables_config_save_on_restart }}"
IPTABLES_SAVE_COUNTER="{{ iptables_config_save_counter }}"
IPTABLES_STATUS_NUMERIC="{{ iptables_config_status_numeric }}"
IPTABLES_STATUS_VERBOSE="{{ iptables_config_status_verbose }}"
IPTABLES_STATUS_LINENUMBERS="{{ iptables_config_status_line_numbers }}"
