{{ ansible_managed | comment }}

{% for v in hostvars[inventory_hostname] %}
{% if v is search("^iptables_service_.*")
      and hostvars[inventory_hostname][v]['name'] is defined
      and hostvars[inventory_hostname][v]['ports'] is defined
      and hostvars[inventory_hostname][v]['zones'] is defined %}
- {{ hostvars[inventory_hostname][v] | to_json }}
{% endif %}
{% endfor %}
